@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.subscribe {
  text-align: center;
  width: 100%;
  padding: 50px 15px 50px;
  color: $color-tertiary;
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  &-container {
    &-form {
      input {
        border: 1px solid #757575;
        border-radius: 30px;
        padding: 6px 0 6px 15px;
        margin-bottom: 15px;
      }
      button {
        width: 100%;
        padding: 7px 0;
        border-radius: 30px;
        background-color: $color-primary;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}
