@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.team {
  text-align: center;
  width: 100%;
  padding: 50px 15px 50px;
  color: $color-tertiary;
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }
  &-container {
    gap: 50px;
  }
}
