$color-primary: #ee9d85;
$color-secondary: #fff;
$color-tertiary: #313131;
$color-complementary-one: #ad7a6e;
$color-complementary-two: #94a295;
$color-complementary-three: #5d6867;
$section-padding: 10px 59px;
