.stats-item {
  max-width: 100%;
  height: auto;
  align-items: center;
  img {
    width: 24px;
  }
  span {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }
  p {
    font-size: 18px;
  }
}
